{% load blog_tags keyword_tags mezzanine_tags i18n %}


{% block blog_categories %}
{% blog_categories as categories %}
	{% if categories %}
		<div class="spacing"></div>
		<h4>{% trans "Categories" %}</h4>
		<div class="hline"></div>
		{% for category in categories %}
			<p>
				<a href="{% url "blog_post_list_category" category.slug %}">
					{{ category }}
				</a>
				<span class="badge badge-theme pull-right">{{ category.post_count }}</span>
			</p>
		{% endfor %}
	
	{% endif %}
{% endblock %}


{% block blog_recent_posts %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<div class="spacing"></div>
<h4>{% trans "Recent Posts" %}</h4>
<div class="hline"></div>
<ul class="popular-posts">
{% for recent_post in recent_posts %}
<li>
    {% spaceless %}
    {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
	    <a href="{{ recent_post.get_absolute_url }}">
	        <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 24 24 %}">
        </a>
    {% endif %}
    <p>
    	<a href="{{ recent_post.get_absolute_url }}">
	    	{{ recent_post.title }}
	    </a>	
    </p>
    <em>{% trans "Posted on" %} {{ recent_post.publish_date }}</em>
    {% endspaceless %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
<!--
{% block blog_months %}
{% blog_months as months %}
{% if months %}
<h3>{% trans "Archive" %}</h3>
{% for month in months %}
    {% ifchanged month.date.year %}
        {% if not forloop.first %}</ul>{% endif %}
        <h6>{{ month.date.year }}</h6><ul class="list-unstyled">
    {% endifchanged %}
    <li><a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
        >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}-->

{% block blog_keywords %}
{% keywords_for blog.blogpost as tags %}
{% if tags %}
<h4>{% trans "Tags" %}</h4>
<div class="hline"></div>
<p>
{% for tag in tags %}
    <a href="{% url "blog_post_list_tag" tag.slug %}"
        class="btn btn-theme">{{ tag }}</a>
{% endfor %}
</p>

{% endif %}
{% endblock %}

{% block blog_authors %}

{% endblock %}

{% block blog_feeds %}
	<div class="spacing"></div>
	<h4>{% trans "Feeds" %}</h4>
	<div class="hline"></div>
{% if tag %}
    <p>
    	<a href="{% url "blog_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
    	<a href="{% url "blog_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
    </p>
{% endif %}
{% if category %}
	<p>
	    <a href="{% url "blog_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
	    <a href="{% url "blog_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
    </p>
{% endif %}
{% if author %}
	<p>
	    <a href="{% url "blog_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
	    <a href="{% url "blog_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
	</p>
{% endif %}
{% if not tag and not category and not author %}
	<p>
	    <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
	    <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
    </p>
{% endif %}
{% endblock %}
